@using GuildManager_DataAccess.Entities;
@using Syncfusion.Blazor.Data;
<div class="d-flex flex-column justify-content-center align-items-center mt-5">
    <div class="mb-3 w-50">
        <label for="name">Name</label>
        <SfTextBox ID="name" @bind-Value="@(charDto.Name)" TValue="string"></SfTextBox>
    </div>
    <div class="mb-3 w-50">
        <label for="classid">Class</label>
        <SfDropDownList ID="Class" TItem="CharacterClassDto" @bind-Value="@(charDto.Class)" TValue="CharacterClassDto"
                        DataSource="CharacterClasses" Width="100">
            <DropDownListEvents TItem="CharacterClassDto" TValue="CharacterClassDto" ValueChange="@ReloadSpecs"></DropDownListEvents>
            <DropDownListFieldSettings Value="CharacterClassDto" Text="Name"></DropDownListFieldSettings>
        </SfDropDownList>
    </div>
    <div class="mb-3 w-50">
        <label for="specid">Main spec</label>
        <SfDropDownList ID="MainSpec" 
            Enabled="@EnableSpecsDropDown" 
            TItem="ClassSpecDto" 
            @bind-Value="@(charDto.MainSpec)"
                        TValue="ClassSpecDto"
                        DataSource="ClassSpecializations">
            <DropDownListFieldSettings Value="ClassSpecDto" Text="Name"></DropDownListFieldSettings>
        </SfDropDownList>
    </div>
    <div class="mb-3 w-50">
        <label for="ilvl">Item level</label>
        <SfNumericTextBox id="ilvl" @bind-Value="charDto.ItemLevel" />
    </div>
    
    

</div>

@code {
    [Parameter]
    public CharacterDto charDto { get; set; } = new();
    [Parameter]
    public List<CharacterClassDto> CharacterClasses { get; set; } = new();
    [Parameter]
    public List<ClassSpecDto> ClassSpecializations { get; set; } = new();
    bool IsLoaded = false;


    private DialogSettings DialogParams = new DialogSettings { MinHeight = "400px", Width = "450px" };
    public bool EnableSpecsDropDown = false;

    private void ReloadSpecs(ChangeEventArgs<CharacterClassDto, CharacterClassDto> args)
    {
        ClassSpecializations = args.Value.ClassSpecializations;
        EnableSpecsDropDown = true;
    }
    protected override void OnAfterRender(bool firstRender)
    {
        IsLoaded = true;
    }
}
