@using GuildManager_Models.Members;
@inject IRaidEventService _eventService

<section class="bg-dark">
    <div class="container mt-3 text-dark comments-container">
        <div class="row d-flex justify-content-center">
            <div class="col-12">
                <div class="d-flex justify-content-center align-items-center mb-4 mt-2">
                    <h4 class="text-white mb-0">Comments</h4>
                    <button class="btn btn-primary ms-auto" @onclick="ShowInput"><i class="fa-solid fa-comment"></i></button>
                </div>
                @if (commentInputActive)
                {
                    <EditForm Model="message" OnValidSubmit="@(()=>SubmitComment(message))">
                        <div class="row mb-2">
                            <div class="col-9 d-flex h-100">
                                <InputTextArea @bind-Value="message" style="width: 100%"></InputTextArea>
                            </div>
                            <div class="col-3 d-flex">
                                <button type="submit" class="btn btn-danger" style="width: 100%">Add</button>
                            </div>
                        </div>

                    </EditForm>
                }
                @if (!commentsLoaded)
                {
                    <div class="alert alert-danger">
                    </div>
                }
                @foreach (var comment in Comments)
                {
                    if (comment.Id == editCommentId)
                    {
                        <EditForm Model="message" OnValidSubmit="@(()=>EditComment(comment.Id,message))">
                            <div class="row mb-2">
                                <div class="col-9 d-flex h-100">
                                    <InputTextArea @bind-Value="message" style="width: 100%"></InputTextArea>
                                </div>
                                <div class="col-3 d-flex">
                                    <button type="button" @onclick="CancelEditCommentMode" 
                                        class="btn btn-secondary me-2" style="width: 100%">
                                        <i class=" fa-solid fa-xmark"></i>
                                    </button>
                                    <button type="submit" class="btn btn-primary" style="width: 100%">Edit</button>
                                </div>
                            </div>

                        </EditForm>
                    }
                    else
                    {
                        <div class="card mb-3 single-comment">
                            <div class="card-body">
                                <div class="d-flex flex-start">
                                    <img class="rounded-circle shadow-1-strong me-3"
                                 src="data:image/jpg;base64,@Convert.ToBase64String(comment.Author.Avatar)" alt="avatar" width="40"
                                 height="40" />
                                    <div class="w-100">
                                        <div class="d-flex justify-content-between align-items-center mb-3">
                                            <h6 class="d-flex flex-start text-primary fw-bold mb-0">
                                                @comment.Author.Nickname
                                                <span class="text-dark ms-2">@comment.Message</span>
                                            </h6>
                                            @if(comment.ModifiedDate != null)
                                            {
                                                <p class="mb-0">@comment.ModifiedDate (edited)</p>
                                            }
                                            else
                                            {
                                                <p class="mb-0">@comment.CreatedDate</p>
                                            }
                                            
                                        </div>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <p class="small mb-0" style="color: #aaa;">
                                                @if (UserId == comment.Author.Id)
                                                {
                                                    <a @onclick="(()=>DeleteComment(comment.Id))" class="link-grey">Remove •</a>
                                                    <a @onclick="(()=>SetEditCommentMode(comment.Id, comment.Message))" class="link-grey">Edit</a>
                                                }
                                            </p>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</section>


@code {
    [CascadingParameter(Name = "User")]
    public ClaimsPrincipal User { get; set; }
    [CascadingParameter(Name = "UserId")]
    public int UserId { get; set; }
    [CascadingParameter(Name = "RaidEvent")]
    public RaidEventDto RaidEvent { get; set; } = new();
    private bool commentInputActive = false;
    private string message = string.Empty;
    private List<CommentDto> Comments = new List<CommentDto>();
    private bool commentsLoaded = false;
    private string resultMessage = string.Empty;
    private int? editCommentId = null;

    protected override async Task OnInitializedAsync()
    {
        await LoadData();
    }
    private async Task LoadData()
    {
        var getCommentsResult = await _eventService.GetCommentsForRaidEvent(RaidEvent.Id);

        if (!getCommentsResult.Success)
        {
            commentsLoaded = false;
            resultMessage = getCommentsResult.Message;
            StateHasChanged();
            return;
        }
        commentsLoaded = true;
        Comments = getCommentsResult.Data;

        StateHasChanged();
    }
    private async void SubmitComment(string message)
    {
        var postCommentResult = await _eventService.CreateCommentForRaidEvent(RaidEvent.Id, message);
        if (!postCommentResult.Success)
        {
            commentsLoaded = false;
            resultMessage = postCommentResult.Message;
        }
        commentInputActive = false;
        message = string.Empty;
        await LoadData();

    }

    private async void EditComment(int id, string message)
    {
        var editCommentResult = await _eventService.UpdateCommentForRaidEvent(id, message);
        if (!editCommentResult.Success)
        {
            commentsLoaded = false;
            resultMessage = editCommentResult.Message;
        }
        editCommentId = null;
        message = string.Empty;
        await LoadData();
    }

    private async void DeleteComment(int id)
    {
        var deleteCommentResult = await _eventService.DeleteCommentForRaidEvent(id);
        if (!deleteCommentResult.Success)
        {
            resultMessage = deleteCommentResult.Message;
        }
        message = string.Empty;
        await LoadData();
    }

    private void SetEditCommentMode(int commentId, string commentMessage)
    {
        editCommentId = commentId;
        message = commentMessage;
        StateHasChanged();
    }
    private void CancelEditCommentMode()
    {
        editCommentId = null;
        message = string.Empty;
        StateHasChanged();
    }

    private void ShowInput()
    {
        commentInputActive = !commentInputActive;

    }
}
