@page "/raid-events/{RaidEventId:int}"
@inject IRaidEventService _raidEventService
@inject AuthenticationStateProvider _authStateProvider;

@if (IsLoading)
{
    <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
}
else
{
    <div class="container">
        <div class="row justify-content-end">
            <NavLink class="btn btn-primary justify-content-start mt-2 col-2" href="raid-events">Back to list</NavLink>
        </div>

        <div class="row mt-2 justify-content-center">
            <div class="col-4 raid-details">
                <div class="card h-100 text-white bg-black">
                    <div class="card-body">
                        <p>Location: @RaidEvent.RaidLocation.Name</p>
                        <p>Difficulty: @RaidEvent.RaidDifficulty</p>
                        <p>Leader: @RaidEvent.LeaderName</p>

                    </div>
                </div>
            </div>
            <div class="col-4 raid-details">
                <div class="card h-100 text-white bg-dark">
                    <div class="card-body">
                        <p>Start: @RaidEvent.StartDate</p>
                        <p>Finish: @RaidEvent.EndDate</p>
                        <p>Status: @RaidEvent.Status</p>

                    </div>
                </div>
            </div>
            <div class="col-4 raid-details">
                <div class="card h-100 text-white bg-secondary">
                    <div class="card-header">Description</div>
                    <div class="card-body">
                        <p class="card-text">@RaidEvent.Description</p>
                    </div>
                </div>
            </div>
            @*<div class="col-2" id="raid-img">
        <img class="img img-fluid img-thumbnail" width="150" src="/img/@RaidEvent.RaidLocation.ImageUrl" alt="img" />
        </div>*@
        </div>
        <div class="col-6">
            <ParticipantsTable UserId="UserId" Participants="Participants" RaidEvent="RaidEvent" User="User" CharacterStatusUpdated="LoadData"></ParticipantsTable>
        </div>
        <div class="col-6">
        </div>
    </div>
}


@code {
    [Parameter]
    public int RaidEventId { get; set; }
    public RaidEventDto RaidEvent { get; set; } = new();
    public List<RaidEventCharacterDto> Participants = new();
    private bool IsLoading { get; set; } = false;
    protected Task<AuthenticationState> AuthStat { get; set; }
    protected ClaimsPrincipal User { get; set; }
    protected int UserId => int.Parse(User.FindFirst(c => c.Type == ClaimTypes.NameIdentifier).Value);

    protected override async Task OnInitializedAsync()
    {
        IsLoading = true;
        AuthStat = _authStateProvider.GetAuthenticationStateAsync();
        User = (await AuthStat).User;
        await LoadData();
        IsLoading = false;
    }

    private async Task LoadData()
    {
        var eventResult = await _raidEventService.GetById(RaidEventId);

        if (!eventResult.Success)
        {
            //todo error handling
        }

        RaidEvent = eventResult.Data;

        var participantsResult = await _raidEventService.GetParticipants(RaidEventId);

        if (!participantsResult.Success)
        {
            //todo error handling
        }

        Participants = participantsResult.Data;
    }
}
